:root {
    --pink: #ff99c9;
    --lavender: #c1bddb;
    --sky: #a2c7e5;
    --teal: #58fcec;
    --dark: #303a2b;
    --red: rgb(235,93,93);
    --yellow: #FFCE2C;
    --background: rgb(27,27,27)
}
@font-face {
    font-family: Quicksand;
    src: url(./lib/fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
    font-family: SofiaSans;
    src: url(./lib/fonts/SofiaSansCondensed-VariableFont_wght.ttf);
}
body {
    margin: 0;
    background-color: var(--background);
    color: white;
    font-family: 'Quicksand';
}